<a routerLink="/">Go back</a>
<div class="container">
    <div class="row">
        <div class="card col-md-12">
            <div class="card-body">
                <h5 class="card-title">{{propertyData.name}}</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <p>Bhk: {{propertyData.bhk}}</p>
                <p>Type: {{propertyData.type}}</p>
                <p>Age: {{propertyData.age}}</p>
                <p>floor: {{propertyData.floor}}</p>
                <p>totalFloors: {{propertyData.totalFloors}}</p>
                <p>size: {{propertyData.size}}</p>
                <p>city: {{propertyData.city}}</p>
                <p>locality: {{propertyData.locality}}</p>
                <p>rent: {{propertyData.rent}}</p>
                <p>diposit: {{propertyData.deposit}}</p>
                <p>Available: {{propertyData.available}}</p>
                <p>prefTenant: {{propertyData.prefTenant}}</p>
                <p>furnish: {{propertyData.furnish}}</p>
                <p>parking: {{propertyData.parking}}</p>
                <p>bathrooms: {{propertyData.bathrooms}}</p>
                <p>balconies: {{propertyData.balconies}}</p>
                <p>lift: {{propertyData.lift}}</p>
                <p>AC: {{propertyData.ac}}</p>
                <p>Internet: {{propertyData.internet}}</p> -->



                <div class="container">
                    <div class="row">
                            <div class="col-md-4 mar-cls"></div>
                            <div class="col-md-4 mar-cls"></div>
                            <div class="col-md-4 mar-cls"></div>
                    <div class="col-md-6 mar-cls">

                        <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <button  type="button" class="btn btn-dark btn-block" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                                                </span>Property details</button>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <table class="table">
                                                    <tr>
                                                        <td>
                                                            <p>Name: {{propertyData.name}}</p>
                                                            <p>Owner:{{propertyData.usrId}}</p>
                                                            <p>Bhk: {{propertyData.bhk}}</p>
                                                            <p>Type: {{propertyData.type}}</p>
                                                            <p>Age: {{propertyData.age}}</p>
                                                            <p>Floor: {{propertyData.floor}}</p>
                                                            <p>TotalFloors: {{propertyData.totalFloors}}</p>
                                                            <p>Size: {{propertyData.size}}</p>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <button  type="button" class="btn btn-dark btn-block" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                                                </span>Locality Details</button>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <table class="table">
                                                    <tr>
                                                        <td>
                                                                <p>City: {{propertyData.city}}</p>
                                                                <p>Locality: {{propertyData.locality}}</p>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <button  type="button" class="btn btn-dark btn-block" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                                                </span>Rental Details</button>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <table class="table">
                                                    <tr>
                                                        <td>
                                                                <p>Rent: {{propertyData.rent}}</p>
                                                                <p>Deposit: {{propertyData.deposit}}</p>
                                                                <p>Available: {{propertyData.available}}</p>
                                                                <p>PrefTenant: {{propertyData.prefTenant}}</p>
                                                                <p>Furnish: {{propertyData.furnish}}</p>
                                                                <p>Parking: {{propertyData.parking}}</p>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <button  type="button" class="btn btn-dark btn-block" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                                                </span>Amenities</button>
                                            </h4>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <table class="table">
                                                    <tr>
                                                        <td>
                                                                <p>Bathrooms: {{propertyData.bathrooms}}</p>
                                                                <p>Balconies: {{propertyData.balconies}}</p>
                                                                <p>Lift: {{propertyData.lift}}</p>
                                                                <p>AC: {{propertyData.ac}}</p>
                                                                <p>Internet: {{propertyData.internet}}</p>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <button  type="button" class="btn btn-dark btn-block" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="glyphicon glyphicon-file">
                                                    </span>Reviews</button>
                                                </h4>
                                            </div>
                                            <div id="collapseFive" class="panel-collapse collapse"  >
                                                <div class="panel-body">
                                                    <table class="table" *ngFor="let review of propertyData.reviews">
                                                        <tr>
                                                            <td  *ngIf="isCheck">
                                                                    <p>Review: {{review.text}}</p>
                                                                    <p>user: {{review.usrId}}</p>
                                                                    
                                                            </td>

                                                            
                                                        </tr>
    
                                                    </table>
                                                    <div *ngIf="!isCheck">
                                                            <p>No reviews yet!</p>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>

                                </div>
                    </div>
                    </div>
                    </div>






                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bookPropertyModal"
                    >Book Now</button>

                <div class="modal fade" id="bookPropertyModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Book Property</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" >
                                <form ngNativeValidate #f="ngForm" [formGroup]="bookForm" (ngSubmit)="bookProperty()" >
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-3 col-form-label">From Date</label>
                                        <div class="col-sm-9">
                                            <input type="date" class="form-control" name="fromDate" formControlName="fromDate"
                                                placeholder="Enter from Date"
                                                required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-3 col-form-label">To Date</label>
                                        <div class="col-sm-9">
                                            <input type="date" class="form-control" name="toDate" formControlName="toDate"
                                                placeholder="Enter To Date"
                                                required>
                                        </div>
                                    </div>


                                    <div class="alert alert-success" *ngIf="isAvail">
                                        Booked successfully!
                                    </div>
                                    <div class="alert" *ngIf="isNotAvail">
                                        Dates are unavailable!
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" >Book
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
