<form class="form-inline" [formGroup]="searchForm" (ngSubmit)="onSearchPropertyHandler()" >
    <div class="form-group  col-md-2">
        <label for="sel1">CITY</label>
        <select class="form-control" formControlName="city" id="sel1">
            <option>DELHI</option>
            <option>PUNE</option>
            <option>BANGLORE</option>

        </select>
    </div>

    <div class="form-group col-md-2 " >
            <div>
                    <input id="bhk1" type="radio" value="1" name="bhk" formControlName="bhk">
                    <label for="bhkq">bhk1</label>
                 </div>
              
                 <div>
                    <input id="bhk2" type="radio" value="2" name="bhk" formControlName="bhk">
                    <label for="bhk2">bhk2</label>
                 </div>
        <!-- <label class="checkbox-inline"><input type="checkbox" value="1" formControlName="bhk">1bhk </label>
        <label class="checkbox-inline"><input type="checkbox" value="2" formControlName="bhk">2bhk </label>
        <label class="checkbox-inline"><input type="checkbox" value="3" formControlName="bhk">3bhk </label> -->
    </div>
    <div class="form-group">
            <button type="submit" class="btn btn-primary">Search</button>

    </div>
</form>

    <div class="row">
    
            <div class="card col-sm-3" *ngFor="let property of allPropertyData">
                <div class="card-body">
                    <h5 class="card-title">{{property.name}}</h5>
                    <p class="card-text">City: {{property.city}}</p>
                    <!-- <a routerLink="/employees/{{employee.empId}}" class="link">View Details</a> -->
                </div>
            </div>
    
        </div>


