<div class="container">
  <div class="row ">
    <div class="col-md-3" style="height: 600px;">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="property-details-tab" data-toggle="tab" href="#property-details"  role="tab"
            aria-controls="property-details" aria-selected="true">Property Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="locality-tab" data-toggle="tab" href="#locality-details"  role="tab"
            aria-controls="locality-details" aria-selected="false">Locality Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="rental-tab" data-toggle="tab" href="#rental-details" role="tab"
            aria-controls="rental-details" aria-selected="false">Rental Details</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery"
            aria-selected="false">Gallery</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" id="amenities-tab" data-toggle="tab" href="#amenities" role="tab"
            aria-controls="directives" aria-selected="false">Amenities</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery"
              aria-selected="false">Gallery</a>
          </li>
        <!-- <li class="nav-item">
          <a class="nav-link" id="schedule-tab" data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule"
            aria-selected="false">Schedule</a>
        </li> -->
      </ul>
    </div>
    <div class="col-md-9" style="height: 600px;">
      <div class="tab-content" id="myTabContent">
        <!-- ------------------------property details------------------------------------------- -->
        <form class="col-md-9" [formGroup]="propertyForm" (ngSubmit)="addPropertyHandler()">
          <div class="tab-pane fade show active" id="property-details" role="tabpanel"
            aria-labelledby="property-details-tab" *ngIf="!property">
            <div class="contact-form">
              <h3>PROPERTY DETAILS</h3><hr><br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="fname"> Name:</label>
                    <div class="col">
                      <input type="text" class="form-control" id="fname" placeholder="Enter Name"
                        [ngClass]="{'is-invalid':propertyForm.get('name').touched && propertyForm.get('name').invalid}"
                        formControlName="name">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-5" for="fname"> BHK:</label>
                    <div class="col">
                      <input type="number" class="form-control" id="bhk" placeholder="Enter BHK"
                        [ngClass]="{'is-invalid':propertyForm.get('bhk').touched && propertyForm.get('bhk').invalid}"
                        formControlName="bhk">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Type:</label>
                    <div class="col">
                      <select class="form-control" id="fname" placeholder="type"
                        [ngClass]="{'is-invalid':propertyForm.get('type').touched && propertyForm.get('type').invalid}"
                        formControlName="type">
                        <option>House</option>
                        <option>Apartment</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Floor:</label>
                    <div class="col">
                      <select class="form-control" id="fname" placeholder="Enter Floor" formControlName="floor">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-10" for="email">Total No. of Floors:</label>
                    <div class="col">
                      <select class="form-control" id="fname" placeholder="Enter Floors" formControlName="totalFloors">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Size</label>
                    <div class="col">
                      <select class="form-control" id="fname" placeholder="size" formControlName="size">
                        <option>500-700</option>
                        <option>700-1500</option>
                        <option>1500-2000</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-20">
                  <a class="btn btn-default" routerLink="/locality" role="button" (click)="onClickHandler()">save and
                    continue</a>
                </div>
              </div>
            </div>

          </div>
          <!-- ------------------------locality details------------------------------------------- -->
          <div class="tab-pane fade show active " id="locality-details" role="tabpanel" aria-labelledby="locality-details-tab"
            *ngIf="!locality">
            <div class="contact-form">
                <h3>LOCALITY DETAILS</h3><hr><br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-6" for="email">City:</label>
                    <div class="col">
                      <select class="form-control" id="fname" placeholder="city"
                        [ngClass]="{'is-invalid':propertyForm.get('city').touched && propertyForm.get('city').invalid}"
                        formControlName="city">
                        <option>BANGLORE</option>
                        <option>PUNE</option>
                        <option>DELHI</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-6" for="fname"> locality:</label>
                    <div class="col">
                      <input type="text" class="form-control" id="fname" placeholder="Enter locality"
                        formControlName="locality">
                    </div>
                  </div>
                </div>
              </div>


              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-20">
                  <a class="btn btn-default" routerLink="/rental-details" href="#rental-details" role="button" (click)="onClickHandler2()">Save
                    and continue</a>
                </div>
              </div>

            </div>
          </div>
          <!-- ------------------------rental details------------------------------------------- -->
          <div class="tab-pane show active " id="rental-details" role="tabpanel" aria-labelledby="rental-details-tab"
            *ngIf="!rental">
            <div class="contact-form">
                <h3>RENTAL DETAILS</h3><hr><br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-6" for="fname"> Rent:</label>
                    <div class="col">
                      <input type="text" class="form-control" id="fname" placeholder="Enter rent"
                        formControlName="rent">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-6" for="fname"> Deposit:</label>
                    <div class="col">
                      <input type="text" class="form-control" id="fname" placeholder="Enter Diposit amount"
                        formControlName="diposit">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-6" for="fname"> Date:</label>
                    <div class="col">
                      <input type="date" class="form-control" id="fname" placeholder="Enter Date"
                        formControlName="available">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col" for="email">Prefered Tenant:</label>
                    <div class="col">
                      <select class="form-control" id="fname" placeholder="tenant"
                        [ngClass]="{'is-invalid':propertyForm.get('prefTenant').touched && propertyForm.get('prefTenant').invalid}"
                        formControlName="prefTenant">
                        <option>Family</option>
                        <option>All</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-6" for="email">Furnished:</label>
                    <div class="col">
                      <select class="form-control" id="fname" placeholder="furnished" formControlName="furnish">
                        <option>yes</option>
                        <option>no</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Parking:</label>
                    <div class="col">
                      <select class="form-control" id="fname" placeholder="parking" formControlName="parking">
                        <option>yes</option>
                        <option>no</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-20">
                  <a class="btn btn-default" routerLink="/amenities" role="button" (click)="onClickHandler3()">Save and
                    continue</a>
                </div>
              </div>
            </div>
          </div>
          <!-- ------------------------gallery------------------------------------------- -->
          <!-- <div class="tab-pane fade show active" id="gallery" role="tabpanel" aria-labelledby="gallery-tab" *ngIf="!gallery">
              <div class="contact-form">
            <h3>GALLERY</h3><hr><br><br>
              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-20">
                    <a class="btn btn-default" routerLink="/amenities" role="button" (click)="onClickHandler3()">Save and
                      continue</a>
                  </div>
                </div>
                </div>
          </div> -->
          <!-- ------------------------amenities------------------------------------------- -->
          <div class="tab-pane fade show active" id="amenities" role="tabpanel" aria-labelledby="amenities-tab" *ngIf="!amenities">
            <div class="contact-form">
                <h3>AMENITIES</h3><hr><br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-5" for="email">Bathrooms:</label>
                    <div class="col">
                      <select class="form-control" id="fname" placeholder="bathrooms" formControlName="bathrooms">
                        <option>1</option>
                        <option>2</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-6" for="email">Balconies:</label>
                    <div class="col">
                      <!-- <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"> -->
                      <select class="form-control" id="fname" placeholder="balconies" formControlName="balconies">
                        <option>1</option>
                        <option>2</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-6" for="email">Lift:</label>
                    <div class="col">
                      <!-- <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"> -->
                      <select class="form-control" id="fname" placeholder="lift" formControlName="lift">
                        <option>yes</option>
                        <option>no</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-6" for="email">AC:</label>
                    <div class="col">
                      <!-- <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"> -->
                      <select class="form-control" id="fname" placeholder="ac" formControlName="ac">
                        <option>yes</option>
                        <option>no</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-6" for="email">Internet:</label>
                    <div class="col">
                      <!-- <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"> -->
                      <select class="form-control" id="fname" placeholder="internet" formControlName="internet">
                        <option>yes</option>
                        <option>no</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <!-- <div class="col-sm-offset-2 col-sm-20">
                  <button type="submit" class="btn btn-default" id="savebtn">Submit</button> -->
                  <a class="btn btn-default" routerLink="/gallery" role="button" (click)="onClickHandler4()">Save and
                    continue</a>
                </div>
              </div>
            </div>
          <!-- </div> -->
            <!-- ------------------------gallery------------------------------------------- -->
            <div class="tab-pane fade show active" id="gallery" role="tabpanel" aria-labelledby="gallery-tab" *ngIf="!gallery">
                <div class="contact-form">
              <h3>GALLERY</h3><hr><br><br>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-20">
                      <!-- <a class="btn btn-default" routerLink="/amenities" role="button" (click)="onClickHandler3()">Save and
                        continue</a> -->

                        <button type="submit" class="btn btn-default" id="savebtn">Submit</button>
                    </div>
                  </div>
                  </div>
            </div>
            
          <!-- ------------------------schedule------------------------------------------- -->
          <!-- <div class="tab-pane fade" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
              <h3>SCHEDULE</h3><hr><br>
          </div> -->
        </form>
      </div>

    </div>

  </div>












  <!--
<div class="container">
  <div class="row ">
    <div class="col-md-3" style="height: 600px;">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="property-details-tab" data-toggle="tab" href="#property-details" role="tab"
            aria-controls="property-details" aria-selected="true">Property Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="locality-tab" data-toggle="tab" href="#locality-details" role="tab"
            aria-controls="locality-details" aria-selected="false">Locality Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="rental-tab" data-toggle="tab" href="#rental-details" role="tab"
            aria-controls="rental-details" aria-selected="false">Rental Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery"
            aria-selected="false">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="amenities-tab" data-toggle="tab" href="#amenities" role="tab"
            aria-controls="directives" aria-selected="false">Amenities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="schedule-tab" data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule"
            aria-selected="false">Schedule</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9" style="height: 600px;">
      <div class="tab-content" id="myTabContent"> -->

  <!-- ------------------------property details------------------------------------------- -->

  <!-- <form class="col-md-9 " [formGroup]="propertyForm" (ngSubmit)="addPropertyHandler()">
          <div class="tab-pane fade show active" id="property-details" role="tabpanel"
            aria-labelledby="property-details-tab" *ngIf="!property">
            <div class="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="fname"> Name:</label>
                    <div class="col">
                      <input type="text" class="form-control" id="fname" placeholder="Enter Name"
                        [ngClass]="{'is-invalid':propertyForm.get('name').touched && propertyForm.get('name').invalid}"
                        formControlName="name">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <label class="control-label col-sm-5" for="fname" > BHK:</label>
                      <div class="col">
                        <input type="number" class="form-control" id="bhk" placeholder="Enter BHK"   [ngClass]="{'is-invalid':propertyForm.get('bhk').touched && propertyForm.get('bhk').invalid}"
                         formControlName="bhk">
                      </div> -->

  <!-- <!-- <label class="control-label col-sm-2" for="fname"> BHK:</label>
                    <div class="col"> -->
  <!-- <input type="number" class="form-control" id="bhk" placeholder="Enter BHK"
                      formControlName="bhk"
                        [ngClass]="{'is-invalid': propertyForm.get('bhk').touched && propertyForm.get('bhk').invalid  }"
                         /> -->
  <!-- <select class="form-control" id="fname" placeholder="Enter BHK"
                         [ngClass]="{'is-invalid':propertyForm.get('bhk').touched && propertyForm.get('bhk').invalid}"
                         formControlName="bhk">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                          </select>
                    </div> -->

  <!-- </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Type:</label>
                <div class="col">
                  <select class="form-control" id="fname" placeholder="type"
                    [ngClass]="{'is-invalid':propertyForm.get('type').touched && propertyForm.get('type').invalid}"
                    formControlName="type">
                    <option>House</option>
                    <option>Apartment</option>
                  </select>
                </div>
                </div>
              </div>
              <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Floor:</label>
                <div class="col">
                  <select class="form-control" id="fname" placeholder="Enter Floor" formControlName="floor">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
                </div>
              </div></div>
              </div>
              <div class="row">
                  <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-sm-10" for="email">Total No. of Floors:</label>
                <div class="col">
                  <select class="form-control" id="fname" placeholder="Enter Floors" formControlName="totalFloors">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
                </div>
                </div>
              </div>
              <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Size</label>
                <div class="col">
                  <select class="form-control" id="fname" placeholder="size" formControlName="size">
                    <option>500-700</option>
                    <option>700-1500</option>
                    <option>1500-2000</option>
                  </select>
                </div>
                </div></div>
              </div>
              <div class="form-group">
                <div >
                  <a class="btn btn-default"  role="button" (click)="onClickHandler()">Save &
                    Continue</a>
                </div>
              </div>
            </div>

          </div> -->

  <!-- ------------------------locality details------------------------------------------- -->

  <div class="tab-pane fade" id="locality-details" role="tabpanel" aria-labelledby="locality-details-tab"
    *ngIf='!locality'>
    <div class="contact-form">
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">City:</label>
        <div class="col-sm-6">
          <select class="form-control" id="fname" placeholder="city"
            [ngClass]="{'is-invalid':propertyForm.get('city').touched && propertyForm.get('city').invalid}"
            formControlName="city">
            <option>BANGLORE</option>
            <option>PUNE</option>
            <option>DELHI</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="fname"> locality:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="fname" placeholder="Enter locality" formControlName="locality">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-20">
          <a class="btn btn-default" routerLink="/rental-details" role="button" (click)="onClickHandler2()">Save
            and continue</a>
        </div>
      </div>
    </div>
  </div>

  <!-- ------------------------rental details------------------------------------------- -->


  <!-- <div class="tab-pane fade" id="rental-details" role="tabpanel" aria-labelledby="rental-details-tab"
            *ngIf="!rental">
            <div class="contact-form">
              <div class="form-group">
                <label class="control-label col-sm-2" for="fname"> Rent:</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="fname" placeholder="Enter rent" formControlName="rent">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="fname"> Deposit:</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="fname" placeholder="Enter Diposit amount"
                    formControlName="diposit">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="fname"> Date:</label>
                <div class="col-sm-6">
                  <input type="date" class="form-control" id="fname" placeholder="Enter Date"
                    formControlName="available">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-5" for="email">Prefered Tenant:</label>
                <div class="col-sm-6">
                  <select class="form-control" id="fname" placeholder="tenant"
                    [ngClass]="{'is-invalid':propertyForm.get('prefTenant').touched && propertyForm.get('prefTenant').invalid}"
                    formControlName="prefTenant">
                    <option>Family</option>
                    <option>All</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Furnished:</label>
                <div class="col-sm-6">
                  <select class="form-control" id="fname" placeholder="furnished" formControlName="furnish">
                    <option>yes</option>
                    <option>no</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Parking:</label>
                <div class="col-sm-6">
                  <select class="form-control" id="fname" placeholder="parking" formControlName="parking">
                    <option>yes</option>
                    <option>no</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-20">
                  <a class="btn btn-default" routerLink="/amenities" role="button" (click)="onClickHandler3()">Save and
                    continue</a>
                </div>
              </div>
            </div>
          </div> -->

  <!-- ------------------------gallery------------------------------------------- -->

  <!-- <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab" *ngIf="!gallery">
            <h1>Locality Details4</h1>
          </div> -->


  <!-- ------------------------amenities------------------------------------------- -->

  <!-- <!-- <div class="tab-pane fade" id="amenities" role="tabpanel" aria-labelledby="amenities-tab" *ngIf="!amenities">
            <div class="contact-form">

              <div class="form-group">
                <label class="control-label col-sm-5" for="email">Bathrooms:</label>
                <div class="col-sm-6">
                  <select class="form-control" id="fname" placeholder="bathrooms" formControlName="bathrooms">
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Balconies:</label>
                <div class="col-sm-6"> -->

  <!-- <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"> -->

  <!-- <select class="form-control" id="fname" placeholder="balconies" formControlName="balconies">
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">LIFT:</label>
                <div class="col-sm-6"> -->


  <!-- <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"> -->

  <!-- <select class="form-control" id="fname" placeholder="lift" formControlName="lift">
                    <option>yes</option>
                    <option>no</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">AC:</label>
                <div class="col-sm-6"> -->

  <!-- <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"> -->

  <!-- <select class="form-control" id="fname" placeholder="ac" formControlName="ac">
                    <option>yes</option>
                    <option>no</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Internet:</label>
                <div class="col-sm-6"> -->

  <!-- <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"> -->

  <!-- <select class="form-control" id="fname" placeholder="internet" formControlName="internet">
                    <option>yes</option>
                    <option>no</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-20">
                  <button type="submit" class="btn btn-default" id="savebtn">Submit</button>
                </div>
              </div>
            </div>
          </div> -->

  <!-- ------------------------schedule------------------------------------------- -->

  <!-- <div class="tab-pane fade" id="schedule" role="tabpanel" aria-labelledby="schedule-tab" *ngIf="!schedule">
            <h1>Schedule</h1>
          </div>
        </form>
      </div>

    </div>

  </div> -->
