<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Add property</h1>
        <button class="btn btn-dark" routerLink="/properties">Go Back</button>
      </div>
     
      <form class="col-md-6 offset-md-3" [formGroup]="propertyForm" (ngSubmit)="onAddPropertyHandler()">
        <div class="form-group row">
          <label for="staticName" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            
            <input type="text" class="form-control" 
            [ngClass]="{'is-invalid':propertyForm.get('name').touched
            &&propertyForm.get('name').invalid
        }"
            placeholder="Enter Name" formControlName="name"/> 
            <div class="invalid-feedback">
              <div>Name is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="staticPhone" class="col-sm-2 col-form-label">BHK</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" 
            placeholder="Enter BHK" formControlName="bhk" [ngClass]="{'is-invalid':propertyForm.get('bhk').touched
            &&propertyForm.get('bhk').invalid
        }" />
            <div class="invalid-feedback">
              <div *ngIf="propertyForm.get('bhk').errors?.required">BHK is required</div>
            </div>
            
          </div>
        </div>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">City</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Enter City" 
            formControlName="city" [ngClass]="{'is-invalid':propertyForm.get('city').touched
            &&propertyForm.get('city').invalid
        }"/>
            
             <div class="invalid-feedback">
                <div>City is required</div>
              </div>
          </div>
        </div>
  
        <div class="alert alert-success" *ngIf="isSaved">
          Saved Successfully
        </div>
  
        <div class="form-group row">
          <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>