<form [formGroup]="emailForm" >
<div class="form-group row mb-2">
    <label class="col-md-3 col-form-label" for="username">
      <h5> Enter your Email</h5>
    </label>
    <div class="col-md-8">
      <input style="width: 300px" class="form-control" id="username" type="text" placeholder="Email (required)"
        formControlName="name" required />
</div>
  </div>
  <button type="button"  routerLink="/security/{{emailForm.value.name}}" class="btn btn-primary" data-toggle="modal" data-target="#forgotModal">Continue</button>
</form>

<!-- <div class="modal fade" id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Confirm answer</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form ngNativeValidate #f="ngForm" [formGroup]="forgotForm" (ngSubmit)="forgotUser()">
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-3 col-form-label">Security Question</label>
                      <div class="col-sm-9">
                        {{userData.securityqn}}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-3 col-form-label">Answer</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="answer" formControlName="answer"
                          placeholder="Answer" required>
                      </div>
                    </div>


                    
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Continue
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div> -->
