<form  [formGroup]="forgotForm" (ngSubmit)="forgotUser()">
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-3 col-form-label">Security Question</label>
      <div class="col-sm-9">
        {{userData.securityqn}}
      </div>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-3 col-form-label">Answer</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="answer" formControlName="answer"
          placeholder="Answer" required style="width: 300px;">
      </div>
    </div>


    
    <div >
      <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
      <button type="submit" class="btn btn-primary" >Continue 
      </button>
    </div>
  </form>
<div *ngIf="notshow" class="alert">
    Wrong answer!
</div>

  <div *ngIf="show" >
    <form  [formGroup]="passwordForm" (ngSubmit)="passwordUser()">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-3 col-form-label">New Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" name="answer" formControlName="password"
              placeholder="Type your password" required style="width: 300px;">
          </div>
          </div>
        
                                        <div class="form-group row">
                                          <label for="staticEmail" class="col-sm-3 col-form-label">Confirm Password</label>
                                          <div class="col-sm-9">
                                            <input type="password" class="form-control" name="answer" formControlName="password1"
                                              placeholder="Re-type Password" required style="width: 300px;">

                                          </div>
                                        </div>
                                    <div *ngIf="confirm" class="alert">
                                        ** Password does not match, Please re-type **
                                    </div>
    
        
        <div >
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <button type="submit" class="btn btn-primary" >Submit
          </button>
          <div *ngIf="submit" class = "alert">Password changed successfully!!!</div>
        </div>
      </form>
    
  </div>
