<form  [formGroup]="forgotForm" (ngSubmit)="forgotUser()">
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-3 col-form-label">Security Question</label>
      <div class="col-sm-9">
        {{userData.securityqn}}
      </div>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-3 col-form-label">Answer</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="answer" formControlName="answer"
          placeholder="Answer" required>
      </div>
    </div>


    
    <div >
      <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
      <button type="submit" class="btn btn-primary" >Continue 
      </button>
    </div>
  </form>

  <div *ngIf="show">
    <form  [formGroup]="passwordForm" (ngSubmit)="passwordUser()">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-3 col-form-label">New Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" name="answer" formControlName="password"
              placeholder="Type your password" required>
          </div>
          </div>
        
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-3 col-form-label">Confirm Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" name="answer" formControlName="password"
              placeholder="Re-type Password" required>
          </div>
        </div>
    
    
        
        <div >
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <button type="submit" class="btn btn-primary" >Submit
          </button>
        </div>
      </form>
    
  </div>
