<div  id="deleteBookingModal" tabindex="-1" role="dialog" style="align-items: center;" class="text-center">
       
            <div >
              <div >
                <div >
                
                  <h5 style="align-items: center;">Cancel Booking</h5>
                </div>
                <div >
                    Are you sure you want to cancel this booking???
                </div>
                    <div >
                      <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal"></button> -->
                      <button type="submit" class="btn btn-primary" (click)="deleteBooking() ">OKAY
                      </button>
                    </div>
                  
                </div>
              </div>
            
            </div>
