#searchBox{
    background-image: url('http://www.coolhdwallpapers.net/gallery/interior-home-design-wallpaper.jpg') !important;
    background-size: cover;
    height: 700px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
   
    }

#searchbar{
    align-content: center;
    margin-left: 40%;
    margin-top: 20%;
    
}

button{
    color:wheat;
    background-color: black;
}
