<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted"></small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Rental Agreement</a></li>
          <li><a class="text-muted" href="#">Pay Rent</a></li>
          <li><a class="text-muted" href="#">Refer</a></li>
          <li><a class="text-muted" href="#">Rent Receipt</a></li>
          <li><a class="text-muted" href="#">Packers and Movers</a></li>
          <li><a class="text-muted" href="#">For NRIs</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Why Use Roof</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Avoid Brokers</a></li>
          <li><a class="text-muted" href="#">Free Listing</a></li>
          <li><a class="text-muted" href="#">Shortlist Without Visit</a></li>
          <li><a class="text-muted" href="#">Rental Agreement</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>