<footer class="pt-4 my-md-5 pt-md-5 border-top" id="footer">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted"></small>
      </div>
      <div class="col-6 col-md">
        <h5>{{ 'FOOTER.F1' | translate }}</h5>
        <ul class="list-unstyled text-small">
          <li>{{ 'FOOTER.F2' | translate }}</li>
          <li>{{ 'FOOTER.F3' | translate }}</li>
          <li>{{ 'FOOTER.F4' | translate }}</li>
          <li>{{ 'FOOTER.F5' | translate }}</li>
          <li>{{ 'FOOTER.F6' | translate }}</li>
          <li>{{ 'FOOTER.F7' | translate }}</li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>{{ 'FOOTER.F8' | translate }}</h5>
        <ul class="list-unstyled text-small">
          <li>{{ 'FOOTER.F9' | translate }}</li>
          <li>{{ 'FOOTER.F10' | translate }}</li>
          <li>{{ 'FOOTER.F11' | translate }}</li>
          <li>{{ 'FOOTER.F12' | translate }}</li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>{{ 'FOOTER.F13' | translate }}</h5>
        <ul class="list-unstyled text-small">
          <li>{{ 'FOOTER.F14' | translate }}</li>
          <li>{{ 'FOOTER.F15' | translate }}</li>
          <li>{{ 'FOOTER.F16' | translate }}</li>
          <li>{{ 'FOOTER.F17' | translate }}</li>
        </ul>
      </div>
    </div>
  </footer>
