<footer class="pt-4 my-md-5 pt-md-5 border-top" id="footer">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted"></small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li>Rental Agreement</li>
          <li>Pay Rent</li>
          <li>Refer</li>
          <li>Rent Receipt</li>
          <li>Packers and Movers</li>
          <li>For NRIs</li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Why Use Roof</h5>
        <ul class="list-unstyled text-small">
          <li>Avoid Brokers</li>
          <li>Free Listing</li>
          <li>Shortlist Without Visit</li>
          <li>Rental Agreement</li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li>Team</li>
          <li>Locations</li>
          <li>Privacy</li>
          <li>Terms</li>
        </ul>
      </div>
    </div>
  </footer>
