#properties-img{
  background-image: url('https://assets.techcircle.in/uploads/article-image/2019/06/images/18850-houserent123rf.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  background-position: center center;
  border-radius: 20px;

}

#postbutton{
  margin-top: 10%;
  margin-left: 20%;
}

/*https://secure.northmyrtlebeachvacations.com/ownernet/itemsofinterest/oceanfront-homes.jpg
*/
